<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content>

  <ion-slides pager>

    <ion-slide class="slide_image" *ngFor="let slid of slide">
      <img [src]="slid?.img"/>
      <div class="conteudo">
        <div padding>
          <a *ngIf="slid?.pular" ion-button block (click)="login()">Login</a>
          <br>
          <a *ngIf="slid?.pular" ion-button block (click)="cadastro()">Cadastro</a>
        </div>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>